:root {
    --cell-width:8vw;
    --cell-height:8vw;
    }
    body, html { 
        height:100%
    }
    /* V.R. '.' is removed !!!  */ 
    body{
        display: flex;
        flex-direction: column;
        /* V.R. 3 lines  */
        justify-content: center;
        align-items: center;
        margin: 0;             /* to avoid the scrolling */
    
     }
     .board{
        display: flex;
        flex-direction: column;
        /* V.R.
        align-items: center;
        height: 100%;
        justify-content: center;
        overflow: hidden; 
        */
     }
     
     .board-row
     {
        display: flex;
        flex-direction: row;
     }
     
    .cell-white
    {
        display: inline-block;
        width: var(--cell-width);
        height: var(--cell-height);
        border: 1px solid black; 
    }
        
    .cell-black{
        display: inline-block;
        width: var(--cell-width);
        height: var(--cell-height);
        border: 1px solid black;
        background-color: black;
      }
      @media(min-width: 560px) {
        :root
        {
            --cell-width:6vw;
            --cell-height:6vw;
        }
    }
     @media(min-width: 900px) {
        :root
        {
            --cell-width:4vw;
            --cell-height:4vw;
        }
    }