@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family:airsteam;
    src: url("fonts/Airsteam-webfont.svg");
    src: url("fonts/Airsteam-webfont.woff");
}
:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}
body, html {
    height: 100%;
}
body {
   display: flex; 
   flex-direction: column;
   background-color: rgb(203,192,192);
   margin: 0;
   
}
.logo  {
font-size: 3em;
background-color: rgb(230,181,181);
display: block;
text-align: center;
font-family: lakeshore;
text-transform: uppercase;
color: rgb(151, 29, 29);

}
.main-class {
display: flex;
flex-direction: column;
justify-content: center;
flex-grow: 1;

}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    font-size: 1.5em;
}
.details-image {
    width: 80vw;
    height: 60vw;
    border-radius: 25%;
    border: 4px solid rgb(221,179,179);
}
.details-title {
display: block;
 text-align: center;
 color: rgb(151, 29, 29);

}
.thumbnails-list {
list-style: none;
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: auto;
justify-content: space-around;
padding-left: 0;

}
.thumbnails-item {
max-width: var(--thumbnails-img-width);
min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
margin-top: 2.5vh;
border: 4px solid rgb(235,192,192);
border-radius:25%;
overflow: hidden;
}
.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
}
.thumbnails-title {
    display: block; 
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color:rgb(240,198,198);
    color: rgb(151, 29, 29);
    font-size: 0.6em;
    padding: 5px;
}
.thumbnails-anchor {
   text-decoration: none;
}
@media (min-width: 560px) {
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 70vh;
        order: -1;
        justify-content: flex-start;
    }
    .main-class {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .details-image {
        width: 40vw;
        height: 30vw;

    }
    .details-container{
        justify-content: center;
    }
    .thumbnails-title{
        font-size: 1em;
    }
}
@media(min-width:900px){
    .details-container{
        justify-content: center;
        margin: 0;
        order: 0;
    }
    .thumbnails-title{
        font-size: 2em;
    }
    .thumbnails-list{
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
    }
    
    
}



